.Playlist {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  &__heading {
    font-size: 2.2rem;
    color: white;
    font-weight: 700;
  }
  &__subheading {
    font-size: 1.3rem;
    margin-top: 0.8rem;
    font-weight: 500;
    color: $font-secondary;
  }
  .List {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .ListItem {
      width: 16rem;
      height: 23rem;
      margin-top: 2rem;
      transition: 0.1s;
      padding: 2rem;
      position: relative;
      display: flex;
      flex-direction: column;
      background: $color-player;
      justify-content: space-around;
      border-radius: 1rem;
      cursor: pointer;
      &__photo {
        width: 100%;
        height: 60%;
      }
      &__heading {
        font-size: 1.5rem;
        font-weight: 700;
        color: #ffffff;
      }
      &__subheading {
        font-size: 1rem;
        font-weight: 500;
        color: $font-secondary;
      }
      &:hover {
        .rounded {
          display: flex;
        }
      }
      .rounded {
        position: absolute;
        display: none;
        right: 8%;
        bottom: 5%;
        svg {
          fill: #ffffff;
          width: 1.8rem;
          height: 1.8rem;
        }
        &:hover {
          &::before {
            transform: scale(1.1);
          }
        }
        &::before {
          background: $background-primary;
          transition: 0.1s;
        }
      }
    }
  }
}
